/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  height: 100vh;
  background: url(/assets/img/bg-header.webp) center/cover fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
}
header .header-box h1 {
  color: #f5f5f5;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 700;
}
header .header-box p {
  color: #f5f5f5;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  display: none;
}
header .header-box a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-top: 2rem;
}
header .header-box button {
  height: 4rem;
  width: 10rem;
  background-color: #F2E5D5;
  border: 3px solid #0D0D0D;
  border-radius: 5px;
  margin-top: 2rem;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 700;
}
header .header-box button:hover {
  background-color: #0D0D0D;
  color: #f5f5f5;
  transform: translateX(10px);
}
@media screen and (min-width: 680px) {
  header .header-box h1 {
    font-size: 6rem;
    line-height: 7rem;
  }
  header .header-box a {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  header .header-box button {
    height: 6rem;
    width: 20rem;
  }
}
@media screen and (min-width: 800px) {
  header .header-box h1 {
    font-size: 8rem;
    line-height: 8.5rem;
  }
  header .header-box p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
  }
  header .header-box a {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }
}
@media screen and (min-width: 1040px) {
  header .header-box h1 {
    font-size: 9rem;
    line-height: 11rem;
  }
  header .header-box p {
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 1rem;
    display: block;
  }
  header .header-box a {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 1rem;
  }
}
header::before {
  display: block;
  height: 100vh;
  width: 100%;
  content: "";
  opacity: 0.3;
  background: #0D0D0D;
}

/*# sourceMappingURL=style.css.map */
