$text-color: rgb(255, 228, 196);

header{
    height: 100vh;
    background: url(/assets/img/bg-header.webp) center/cover fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1{
        color: $text-color;
        filter: drop-shadow(0 0 20px black);
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        position: fixed;
        z-index: 0;

        @media  screen and (min-width: 680px) {
            font-size: 3.4rem;
        }
        @media  screen and (min-width: 1040px) {
            font-size: 11.4rem;
        }
    }   

}
